allure-pytest
atomicwrites
attrs
browserstack
browserstack-local
certifi
chardet
colorama
configparser
crayons
cryptography
execnet
glob2
idna
importlib-metadata
iniconfig
Mako
MarkupSafe
more-itertools
packaging
parse
parse-type
pip-tools
pluggy
py
pyparsing
pytest
pytest-bdd
pytest-forked
pytest-html
pytest-repeat
pytest-xdist
pytz
requests
rstr
selenium
six
toml
urllib3
webdriver-manager
wheel
zipp
browsermob-proxy
awscli